<!DOCTYPE html>
<html>
<head>
    <title>Data</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>NIM</th>
                <th>Nama</th>
                <th>Asal</th>
                <th>Prodi</th>
                <th>Jenjang</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row['no'] }}</td>
                    <td>{{ row['nim'] }}</td>
                    <td>{{ row['nama'] }}</td>
                    <td>{{ row['asal'] }}</td>
                    <td>{{ row['prodi'] }}</td>
                    <td>{{ row['jenjang'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>